/* Base */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Components */
@import "components/button";
@import "components/form";

/* Utilities */
@import "tailwindcss/utilities";


.react-select__control {
    padding-left: 20px;
    min-height: 38px;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: unset;
    border: 1px solid rgba(191, 195, 204, 0.3) !important;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    color: #000;
    appearance: none;
}
.react-select__control--is-focused {
    box-shadow: 0 0 3px #8593a0 !important;
    border-color: #5633d1 !important;
}
@media (max-width: 1600.98px) {
    .react-select__control {
        min-height: 36px;
    }
}
@media (max-width: 1399.98px) {
    .react-select__control {
        min-height: 34px;
    }
}
.react-select__control .react-select__value-container {
    padding: 3px 0 !important;
}

.react-select__control
.react-select__value-container
.react-select__placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.react-select__control
.react-select__value-container
.react-select__single-value {
    color: #6a7a88 !important;
}

.react-select__control
.react-select__indicators
.react-select__indicator {
    visibility: hidden;
}
.select-option .react-select__control:focus {
    box-shadow: 0 0 3px #8593a0 !important;
    border-color: #5633d1 !important;
}

.react-select__menu{
    position: relative !important;
    zoom: 1;
}
